@import 'main.css';


.progress-bar .track {
  -fx-background-color: #CED4DA;

}

.progress-bar .bar {
  -fx-background-color: #1E6091;
  -fx-border-radius: 100px;
  -fx-background-radius: 100px;
}

.joker {
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 20px;
}