@import 'main.css';



.instruction{
  -fx-font-size: 24px;
}

.scroll-pane, .scroll-pane > * {
  -fx-background-color: transparent;
}

.scroll-pane {
}

.label {
  -fx-text-alignment: justify;
  -fx-wrap-text: true;
  -fx-max-width: 800px;
}